@import url('https://fonts.googleapis.com/css?family=Magra&effect=fire-animation');

body {
    font-family: Inter, serif;
    background: linear-gradient(90deg, #5b5b92 0%, #9d9999 100%);
}

.nav-link {
    color: rgb(73, 217, 243);
}

.navbar-nav .nav-link.active {
    color: yellow;
}

.navbar-brand img {
    width: 50px;
}

.navbar-toggler {
    background-color: rgb(0, 255, 247);
}

@media (max-width: 1000px) {
    .navbar-toggler:hover {
        border-style: solid;
        color: yellow;
    }
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #36366c 0%, #3a3939 100%);
    
}

.card-body {
    color: aqua;
    background: linear-gradient(85deg, #9999dc 0%, #2d6a99 100%);
}

.card-body a {
    text-decoration: none;
    color:aqua;
}

.carousel-item {
    width: 720px;   
}

.carousel-inner {
    display: flex;
    justify-content: space-around;
}

.slide-text,
.footer-text {
    color: rgb(236, 248, 110);
    margin: auto auto;
}

@media (max-width: 755px) {
    .carousel-indicators {
       display: none;
    }
}

.carousel-control-prev:hover {  
    background-color: rgb(122, 110, 159);
}

.carousel-control-next:hover {  
    background-color: rgb(119, 110, 144);
}

footer {
    background-color: #7e7e9f;
    border-style: solid;
    border-color: #ca9fef;
    border-bottom:none;  
}

.socseti {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socseti-verh {
    display: flex;  
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 755px) {
    .socseti-verh {
        margin: 0;
    }
}

.stroka-help a {
    font-size: 25px;
    color: #d6dc99;
    text-decoration: none;
    text-align: center;
}

.btn.btn-outline-primary {
    border-style: solid;
    border-color: rgb(136, 228, 131);
    color:rgb(236, 248, 110);
}

.telephone {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
